@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
*{
  font-family: 'Noto Sans TC', sans-serif;
  color:#ffffff;
  
}
.ncyu{
  padding-top:50px;
}
section{
  padding-top: 80px;
}
section#s1{
  background-color: #000000
}
section#s2{
  background-color: #000000
}
section#s3{
  background-color: #000000;
    padding-bottom:200px;

}

section#s4{
  background-color: #000000;
    padding-bottom:200px;
}
/* 40px */
.toTop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #8c1515;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: #f90;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.toTop-arrow:focus {outline: none;}
